# ========================================
# SDL2
# ========================================
sdl2-src/
sdl2-build/
sdl2-install/
temp/

# ========================================
# SoundTouch
# ========================================
soundtouch-src/
soundtouch-build/
soundtouch-install/

# ========================================
# FFmpeg
# ========================================
ffmpeg-src/
ffmpeg-build/
ffmpeg-install/

# ========================================
# CMake 生成的文件
# ========================================
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt

# ========================================
# 临时文件
# ========================================
*.log
*.tmp
temp/

